.title {
  color: white;
}

.clickable {
  cursor: pointer;
}

.pre-scrollable {
  padding-top: 4.0em;
  padding-bottom: 4.0em;
  max-height: 100vh;
}

.active {
  background: #0366d6;
  font-weight: bolder;
  color: white;
  fill: white;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  font-size: 1.0em;
  align-items: center;
}

.name {
  margin-right: 1em;
  font-size: 1.5em;
}

.octicon-star {
  margin-right: 0.2em;
}

.rounded-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.go-to {
  justify-self: flex-end;
}