.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.octicon {
    fill: #fff;
    margin: 10px;
}

.nav-octicon-star {
    fill: #fff;
    margin: 0.2em;
}